---
layout: page
title: Leonardo Akamatsu
---

<div class="projects_container">
{% for project in site.pages %}
  {% assign path = project.path | slice: 1,5 %}
  {% if path == 'pages' %}
    <a href= "{{ project.permalink }}" class="project_card">
        <h2> {{ project.title }} </h2>
    </a>
  {% endif %}
{% endfor %}
<a href= "" class="project_card project_card_4x">
    <h2> WBWREFIO </h2>
</a>
<a href= "" class="project_card project_card_2x">
    <h2> LARASR </h2>
</a>
<a href= "" class="project_card project_card_2x">
    <h2> ADIUONE </h2>
</a>
</div>
