<footer class="c-footer u-container">
  <div class="c-footer__container">
  <br style="clear:both;">
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <!-- <script type="text/javascript">
    $('.projects_container').masonry({
      // options
      itemSelector: '.project_card',
      columnWidth: '.project_card_1x'
    });
  </script> -->
  <script type="text/javascript">
    $(window).scroll(function() {
  		if(parseInt($(window).scrollTop())<=100){
      var windowScroll = 1 - $(window).scrollTop()/100;
  			$('.project_title_group').css('opacity', windowScroll);
  			$('.photo').css('opacity', windowScroll);
  			$('.c-project__cover').css('opacity', windowScroll + 0.1);
  			$('.c-project__cover').css('height', windowScroll*8 + 10 + 'rem');
  		}
      else {
        $('.project_title_group').css('opacity', '0');
        $('.photo').css('opacity', '0');
        $('.c-project__cover').css('opacity', '0.1');
        $('.c-project__cover').css('height', '10rem');
      }
    });
  </script>
</footer>
