<footer class="c-footer">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="/js/masonry.pkgd.min.js"></script>
  <script type="text/javascript">
    $('.projects_container').masonry({
      // options
      itemSelector: '.project_card',
      columnWidth: '.project_card_1x'
    });
  </script>
  <script type="text/javascript">
    $(window).scroll(function() {
  		if(parseInt($(window).scrollTop())<=150){
      var windowScroll = 1 - $(window).scrollTop()/150;
  			$('.project_title_group').css('opacity', windowScroll);
  			$('.photo').css('opacity', windowScroll);
  		}
      else {
        $('.project_title_group').css('opacity', '0');
        $('.photo').css('opacity', '0');
      }
    });
  </script>
</footer>
