/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
  max-width: 96rem; // 1160px
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-right: auto;
  margin-left: auto;
}
