/* ==========================================================================
   Header
   ========================================================================== */

.c-header {
  top: 0;
  padding-top: 0.1em; // 75px
  // padding-bottom: 7.5rem; // 75px
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  background: $c__white;

  // position: fixed;
  width: 100%;
}

.c-header__title {
  width: 120rem;
  margin: 3.6rem auto 0 auto;
  padding: 0 $c_card_padding;
  position: relative;
  text-align: left;
  @include fs--title;
  font-weight: 500;
  color: $c__black;

  &:after {
    margin-left: .5rem;
    color: rgba(#fff, .5);
    content: '';
  }

  span {
    color: rgba(#fff, .5);
  }
}

.photo {
  display: none;
  width: 9rem;
  height: 9rem;
  background: #ccc;
  border-radius: 50%;
  transform: translateY(4rem);
  @include trans200;
}
