/* ==========================================================================
   Header
   ========================================================================== */

.c-header {
  width: 100%;
  top: 0;
  position: fixed;
  // padding-top: 0.1em; // 75px
  // padding-bottom: 7.5rem; // 75px
  // padding-right: 2.5rem;
  // padding-left: 2.5rem;
  // background: $c__white;
  // position: fixed;
}

.c-article__header {
  display: inline-block;
}

.c-page__cover {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #f9eed8;
  height: 22rem;
  z-index: -1;
}

.c-header__title {
  // width: 120rem;
  // margin: 2rem 0 0 -2rem;
  margin: 3.5rem 0 0 2rem;
  padding: 0 $c_card_padding;
  position: relative;
  float: left;
  text-align: left;
  @include fs--title;
  font-weight: 400;
  font-size: 3.6rem;
  color: $c__black;

  &:after {
    margin-left: .5rem;
    color: rgba(#fff, .5);
    content: '';
  }

  span {
    color: rgba(#fff, .5);
  }
}

.project_title_group {
  .c-project__title {
    margin-top: 12rem;
    margin-left: -2rem;
    text-align: left;
    @include fs--title;
    font-size: 5.6rem;
    font-weight: 500;
    color: $c__black;
  }

  .c-project__logo {
    display: block;
    position: relative;
    margin: 0 auto;
    padding-top: 2rem;
    z-index: 1;
  }
}

.photo {
  // display: none;
  width: 6rem;
  height: 6rem;
  float: left;
  margin-top: 2.5rem;
  margin-left: -3rem;
  background: #fff;
  border-radius: 50%;
  @include trans200;
}

.back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  top: 2.5rem;
  margin-left: -3rem;
  background: #fff;
  border-radius: 50%;
  @include flat-shadow-animate;
  @include trans200;

  svg {
    opacity: 0.5;
  }

  &:hover svg {
    opacity: 1;
  }
}
