.projects_container {
  margin-left: -$c_card_margin;
  margin-right: -$c_card_margin;
margin-top: -14rem;

  &:first-child {
    // margin-top: 40rem;
  }
}

.project_card {
  // background: #fff;
  width: $c_card;
  height: $c_card;
  float: left;
  margin: $c_card_margin;
  // border-radius: .5rem;
  // padding: $c_card_padding;
  // padding: 1.5rem 1rem 1.5rem 2rem;
  // @include box-shadow-animate;
  @include trans500;

  &:hover .card_inner .card_inner_bg {
    opacity: 1;
    @include trans500;
  }

  &:hover .card_inner .card_labels {
    left: -1rem;
  }

  .card_inner {
    height: 100%;
    position: relative;
    @include trans200;

    .card_inner_bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0.6);
      opacity: 0;
    }

    .card_labels {
      position: absolute;
      bottom: 2rem;
      left: 0rem;
      @include trans500;
    }

    h3 {
      @include fs--title;
      font-weight: 600;
      width: 70%;
      position: relative;
      font-size: 3rem;
      color: black;
      line-height: 1;
    }

    p {
      color: black;
    }

    span {
      background: #000;
      top: -1.5rem;
      height: 5px;
      left: 0;
      position: absolute;
      width: 40px;
    }

    .card_labels_about p {
      margin-top: 1rem;
    }
  }
}
.project_card_1x {
  width: $c_card;
}

.project_card_2x {
  width: 2 * $c_card + 2*$c_card_margin;
}

.project_card_4x {
  width: 2 * $c_card + 2*$c_card_margin;
  height: 2 * $c_card + 2*$c_card_margin;
}

.img_cover {
  width: 100%;
  height: 100%;
  position: absolute;;
  background-size: cover;
  background-position: center;
}
