.projects_container {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 20rem;

  &:first-child {
    // margin-top: 40rem;
  }
}

.project_card {
  background: #fff;
  width: 22.4rem;
  height: 22.4rem;
  margin: 1rem;
  border-radius: .5rem;
  float: left;
  padding: 2rem;
  @include box-shadow;
  @include box-shadow-animate;
  @include trans200;
}

.project_card_2x {
  width: 46.8rem;
}

.project_card_4x {
  width: 46.8rem;
  height: 46.8rem;
}
