.projects_container {
  margin-left: -$c_card_margin;
  margin-right: -$c_card_margin;
  margin-top: -7rem;

  &:first-child {
    // margin-top: 40rem;
  }
}

.project_card {
  // background: #fff;
  width: $c_card;
  height: $c_card;
  float: left;
  margin: $c_card_margin;
  // border-radius: .5rem;
  // padding: $c_card_padding;
  // padding: 1.5rem 1rem 1.5rem 2rem;
  // @include box-shadow-animate;
  @include trans500;

  .card_inner {
    height: 100%;
    position: relative;
    @include trans200;

    .card_inner_bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, rgba(255,249,237,0.8), rgba(255,249,237,0.4));
      opacity: 0;
      @include trans500;
    }

    .card_labels {
      position: absolute;
      bottom: 2rem;
      margin-left: 0rem;
      opacity: 0;
      @include trans500;
    }

    h3 {
      @include fs--title;
      font-weight: 600;
      // text-shadow: 0 0.2rem 0 rgba(255,249,237,0.4);
      width: 72%;
      position: relative;
      font-size: 3rem;
      color: black;
      line-height: 1;

      span {
        font-weight: 500;
      }
    }

    p {
      color: black;
      font-size: 1.8rem;
      // width: 44rem;
    }

    .marker {
      background: #000;
      top: -1.5rem;
      height: 5px;
      position: absolute;
      width: 40px;
    }

    .card_labels_about p {
      margin-top: 1rem;
    }
  }
}
.project_card_1x {
  width: $c_card;
}

.project_card_2x {
  height: 2 * $c_card + 2*$c_card_margin;
}

.project_card_2x1 {
  width: 2 * $c_card + 2*$c_card_margin;
}

.project_card_4x {
  width: 2 * $c_card + 2*$c_card_margin;
  height: 2 * $c_card + 2*$c_card_margin;
}

$about_top_trans: -7.8rem;
.project_card_about {
  -webkit-transform: translate(0, $about_top_trans);
	-moz-transform: translate(0, $about_top_trans);
	-ms-transform: translate(0, $about_top_trans);
	-o-transform: translate(0, $about_top_trans);
	transform: translate(0, $about_top_trans);
}

.img_cover {
  width: 100%;
  height: 100%;
  position: absolute;;
  background-size: cover;
  background-position: center;
}

@media all and (min-width: 800px){
  .project_card {
    &:hover .card_inner .card_inner_bg {
      opacity: 1;
    }

    &:hover .card_inner .card_labels {
      -webkit-transform: translate(-1rem, 0);
    	-moz-transform: translate(-1rem, 0);
    	-ms-transform: translate(-1rem, 0);
    	-o-transform: translate(-1rem, 0);
    	transform: translate(-1rem, 0);
      opacity: 1;
    }
  }
}

@media all and (min-width: 780px){
  .c-home .c-article__main { max-width: 70.8rem }
}

@media all and (min-width: 1024px){
  .c-home .c-article__main { max-width: 95.4rem }
}

@media all and (min-width: 1280px){
  .c-home .c-article__main { max-width: 120rem }
}

// @media all and (min-width: 1600px){
//   .c-home .c-article__main { max-width: 144.6rem }
// }

@media all and (max-width: 780px){
  .project_card .card_inner .card_labels {
    left: 1.5rem;
    bottom: -4.5rem;
    opacity: 1;

    h3 { width: 100%; }
  }

  .project_card .card_inner .card_labels_about {
    margin: 0 1.5rem;

    h3 { width: 100%; }
  }

  .project_card_1x, .project_card_2x, .project_card_2x1, .project_card_4x {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 5rem;
  }

  .projects_container {
    margin-left: 0;
    margin-right: 0;
    margin-top: -9rem;
  }
}
