// ==========================

.project_title_group {

  .c-project__title {
    position: absolute;
    bottom: 1.5rem;
    margin-top: 15rem;
    margin-left: -2rem;
    text-align: left;
    @include fs--title;
    line-height: 0.9;
    font-size: 5.6rem;
    font-weight: 500;
    color: $c__black;
  }

  .c-project__logo {
    display: block;
    position: relative;
    margin: 0 auto;
    padding-top: 2rem;
    z-index: 1;
  }
}

.c-project__cover {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #f9eed8;
  height: 18rem;
  z-index: -1;
}

.back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  top: 2.5rem;
  margin-left: -2.4rem;
  background: #fff;
  border-radius: 50%;
  @include flat-shadow-animate;
  @include trans200;

  svg {
    width: 2.8rem;
    height: 2.8rem;
    opacity: 0.7;
  }

  &:hover svg {
    opacity: 1;
  }
}

.project_info {
  float: left;
  width: 28rem;
  padding-right: 5%;
  font-family: 'Rubik', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 500;

  span {
    font-weight: 700;
    // color: rgba(0,0,0,0.6);
  }

  li { margin-bottom: 0.8rem}
}

.project_content {
  float: left;
  width: 92rem;

  h3 {
    font-family: 'Rubik', 'Work Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 7.2rem;
    margin-bottom: 0.8rem;
  }

  h5 {
    font-family: 'Rubik', 'Work Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 500;
    margin-bottom: 3.2rem;
    max-width: 64rem;
  }

  p, ul {
    margin-bottom: 1.6rem;
    max-width: 64rem;
  }

  figure {
    margin-bottom: 2.4rem;
    overflow: visible;

    img { width: 100%; }
  }

  .img_original { width: auto; }

  .img_small { max-width: 64rem; }

  .left {
    margin-left: -28rem;
    margin-right: 28rem;
  }

  .right { margin-left: 28rem; }

  .full { margin-right: 0; }

  a {
    font-weight: 600;

    &:hover {
      text-decoration: underline;
      opacity: 0.8;
    }
  }
}

@media all and (max-width: 800px){
  .photo, .back {
    margin-left: 1.5rem;
    height: 5.5rem;
    width: 5.5rem;
    top: 1.5rem;
  }

  .back svg {
    width: 3rem;
    height: 3rem;
  }

  .project_title_group .c-project__title {
    margin-top: 15rem;
    font-size: 4.2rem;
    margin-left: 1rem;
  }

  .c-project__logo {
    width: 0;
    max-height: 16rem;
  }

  .project_info, .project_content {
    width: 100%;
  }

  .project_info {
    margin: 0 1.5rem;
  }

  .c-article__main {
    padding-top: 26rem;
  }

  .project_content {
    p, h3 {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }

    .left, .right {
      margin-left: 0rem;
      margin-right: 0rem;
    }
  }
}
