/* ==========================================================================
   Grey Theme
   ========================================================================== */

.t-grey {

  .c-navigation,
  .c-header {
    background: #555;
  }

  .c-article__main a:not(.c-btn) {
    color: #555;
  }

  .c-footer a {
    color: #555;
  }
}
