---
layout: default
---
<article class="c-article">
  <div class="u-container"><div class="c-project__cover" style="background:{{ page.color }}"></div></div>
  <header class="c-header c-page__header">
    <div class="u-container">
      <div class="project_title_group">
        {% if page.logo %}
        <img class="c-project__logo" src="{{ site.baseurl }}/assets/{{ page.permalink }}/{{ page.logo }}"/>
        {% else %}
        <h1 class="c-project__title">{{ page.title }}</h1>
        {% endif %}
      </div>
      <a class="back" href="{{ site.baseurl }}/">
        <svg viewBox="0 0 24 24">
          <path fill="{{ page.color page}}" d="M18.41,16.59L13.82,12L18.41,7.41L17,6L11,12L17,18L18.41,16.59M6,6H8V18H6V6Z" />
        </svg>
      </a>
    </div>
  </header>

  <div class="c-article__main">
    <div class="project_info">
      <ul>
        <li>categoria(s): {{ page.categories }}</li>
        {% for info in page.details %}
        <li>{{ info.item }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="project_content">
    {{ content }}
    </div>
  </div>

</article>
